<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse sticky-top">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <h3 class="products-label">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Products <span class="sr-only">(current)</span>
            </a>
          </h3>
          </li>
          <li class="nav-item" *ngFor="let pastry of pastries">
            <a class="nav-link text-primary pb-0" (click)="toSection(pastry.name)" role="button">
              {{pastry.name}}
            </a>
            <nav class="nav nav-pills flex-column" *ngFor="let type of pastry.types">
              <a class="nav-link py-0 my-1 btn-sm text-secondary" *ngIf="pastry.types.length > 1">{{type.name}}</a>
            </nav>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="container">
        <div class="products" data-spy="scroll" data-target="#navbar-example3" data-offset="0" *ngFor="let pastry of pastries; let i=index">
          <h3 #{{pastry.name}} id="{{pastry.name}}" class="primary products-main-title text-primary">{{pastry.name}}</h3>
          <div class="row">
            <div class="col-sm-12 col-md-4 content-box" *ngFor="let type of pastry.types; let j=index">
              <img src="assets/img/{{type.image}}" class="products-display" alt="SOFT SPONGE CAKE">
              <p class="btn btn-md btn-outline-primary w-100 mt-1" (click)="onSelect(i, j)">{{type.name.toUpperCase()}}</p>
            </div>      
          </div>
        </div>
      </div>
    </main>
  </div>
</div>