<section class="section-form js--place-order">
    <div class="container">
    <div class="row justify-content-center">
        <h2>Place an order for our delicacies</h2>
        <p class="long-copy col-sm-12 col-md-11 col-lg-9 col-lg-auto">
            After placing your order, please endeavour to contact us via one of the channels listed below for price negotiation and payment.
        </p>
    </div>
        <form [formGroup]="orderForm" class="contact-form col-xs-12 col-sm-12 col-md-10 col-lg-9 mx-auto" (ngSubmit)='onSubmit()'>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label for="name">Name</label>
                </div>
                <div class="col-sm-12 col-md-9">
                    <input formControlName="name" type="text" name="name" id="name" placeholder="Your name">
                    <div *ngIf="orderForm.get('name').invalid && orderForm.get('name').touched">
                        <small class="text-danger" *ngIf="orderForm.get('name').errors?.required">Name is required</small>
                        <small class="text-danger" *ngIf="orderForm.get('name').errors?.minlength">Name must be at least 3 characters</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label for="phone">Phone</label>
                </div>
                <div class="col-sm-12 col-md-9">
                    <input formControlName="phone" type="tel" name="phone" id="phone" placeholder="Your Phone no" required>
                    <div *ngIf="orderForm.get('phone').invalid && orderForm.get('phone').touched">
                        <small class="text-danger" *ngIf="orderForm.get('phone').errors?.required">please enter your phonenumber</small>
                        <small class="text-danger" *ngIf="orderForm.get('phone').errors?.minlength">Enter a valid phonenumber</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input formControlName="email" type="email" name="email" id="email" placeholder="Your email">
                    <div *ngIf="orderForm.get('email').invalid && orderForm.get('email').touched">
                        <small class="text-danger" *ngIf="orderForm.get('email').errors?.pattern">Enter a valid email</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label for="location">Address</label>
                </div>
                <div class="col span-2-of-3">
                    <input formControlName="location" type="text" name="location" id="location" placeholder="Your location" required>
                    <div *ngIf="orderForm.get('location').invalid && orderForm.get('location').touched">
                        <small class="text-danger" *ngIf="orderForm.get('name').errors?.required">Please enter a delivery location</small>
                    </div>
                </div>
            </div>
            <div formGroupName="pastries">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <label for="pastry-type">Type of pastry</label>
                    </div>
                    <div class="col span-2-of-3">
                        <select formControlName="pastry" name="pastry-type" id="pastry-type" (change)="onChange()">
                            <option value="{{pastry.value}}" *ngFor="let pastry of pastries">{{pastry.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <label>Size</label>
                    </div>
                    <div class="col span-2-of-3">
                        <select formControlName="size" name="pastry-size" id="pastry-size">
                            <option value="mini">Mini</option>
                            <option value="small">Small</option>
                            <option value="regular">Regular</option>
                            <option value="large">Large</option>
                            <option value="extra-large">Extra-large</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label for="date">Delivery date</label>
                </div>
                <div class="col span-2-of-3">
                    <input formControlName="deliveryDate" type="date" name="date" id="date" >
                    <div *ngIf="orderForm.get('name').invalid && orderForm.get('name').touched">
                        <small class="text-danger" *ngIf="orderForm.get('date').errors?.required">Enter your a delivery date</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3 d-none d-md-inline-block d-lg-inline-block d-xl-inline-block">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input class="btn btn-sm btn-primary btn-full js--wp-1" type="submit" value="Order now!">
                </div>
            </div>
        </form>
    </div>
</section>